<div class="searchBar">
  <form action="/artists" method="GET">
    <label for="">Search for Artists</label>
    <input type="text" name="searchArtists">
    <button type="submit">Search</button>
  </form>
</div>